/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

  html {
    overflow-y: scroll; /* Ensures a scrollbar is always present */
}

body {
    /*background-color: #ffffff;/**/
    background-color: #d3d3d3;
    display: flex;
    height: 100vh;
    overflow: hidden; /* Disables vertical scrolling */
    padding-top: 70px; /* To avoid overlap with fixed navbar */
}

p {
    height: auto;
    margin: 0;
    padding: 5px 0;/**/
    overflow: visible;
    text-overflow: ellipsis;
    font-size: 16px;
    color: #333;
}

:root {
    --navbar-height: 50px; /* height + passing (5+5) */
}

  /* Navigation Bar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background: #1e3a8a;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    transition: 0.3s;
}
  
.navbar a:hover {
    background: #3b82f6;
    border-radius: 5px;
}

a[href="blog.html"] {
    display: none;
}

button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    display: block;
    border: none;
    /*background-color: #7aa4fff3; /* Adjust button color */
    background: #1e3a8a;
    font-size: 16px;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005f99;
}

#toast-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.toast {
    background-color: rgba(255, 69, 0, 0.9); /* Subtle red/orange */
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 10px;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s, transform 0.3s;
}

.toast.show {
    opacity: 1;
    transform: translateY(0);
}

/***************************** main container *****************************/
.container {
    /*position: relative;/**/
    /*height: (100vh - var(--navbar-height));/**/
    position: fixed;
    top: var(--navbar-height);
    height: calc(100vh - var(--navbar-height));/**/
    margin-left: 75px; /* Adjust margin for sidebar */
    width: calc(100% - 80px); /* Adjust width to match new sidebar size */
    display: flex;
    border-radius: 20px; /* Adjust the value as needed */
    overflow: hidden;
}
