/***************************** sidebar *****************************/
.sidebar {
    width: 25%; /* Initial width */
    /*height: 100vh; /* Match the height of the viewport */
    height: calc(100vh - 10px); /* Subtracting top and bottom margin */
    min-width: 200px;
    max-width: 1500px;
    background-color: hsl(0 0% 98%);
    color: rgb(94, 94, 94);
    padding: 10px;
    margin: 5px;
    /*box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /**/
    border-radius: 20px; /* Adjust the value as needed */
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto; /* Enable vertical scrolling for the sidebar itself */
    overflow-x: hidden; /* Prevent horizontal scrolling */
    box-sizing: border-box; /* Include padding in height calculation */
    /*transition: width 0.5s ease, transform 0.5s ease;*/
    position: relative;
    resize: horizontal;
}

#resizeHandle {
    width: 5px;
    background-color: hsl(0 0% 98%);
    cursor: ew-resize;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

.sidebar.collapsed {
    /*width: 0; /* Collapse to hidden */
    display: none;/**/
    overflow: hidden; /* Hide content */
    /*transform: translateX(-100%); /* Slide off-screen */
}

/* Invisible container holding all sidebar configurations */
#sidebarContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1; /* Allow the active content to take up available space */
}

/* Initially hide all sidebar contents */
.sidebar-content {
    display: none;
    height: 100%;
    flex-grow: 1; /* Allow the active content to take up available space */
    flex-direction: column; /* Stack content vertically */
}

/* Visible content when selected */
.sidebar-content.active {
    display: flex;
    flex-direction: column; /* Stack content vertically */
    flex-grow: 1; /* Allow the active content to take up available space */
}

#mainConfig, #brushConfig, #gearConfig {
    /*display: flex;*/
    flex-direction: column; /* Stack content vertically */
    /*flex-grow: 1; /* Allow it to grow to take available space */
    /*overflow-y: auto; /* Add a scroll if the content exceeds available space */
    /*padding-bottom: 10px; /* Ensure space below the last element */
    /*box-sizing: border-box; /* Include padding in size calculations */
}



