body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
    background-color: #e0e0e0;
}

p {
    height: auto;
    margin: 0;
    padding: 5px 0;
    overflow: visible;
    text-overflow: ellipsis;
    font-size: 16px;
    color: #333;
}

button {
width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    display: block;
    border: none;
    background-color: #7aa4fff3; /* Adjust button color */
    color: white;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005f99;
}

/***************************** main container *****************************/
.container {
    display: flex;
    height: 100vh;
    width: calc(100% - 65px); /* Adjust width to match new sidebar size */
    margin-left: 70px; /* Adjust margin for sidebar */
    border-radius: 20px; /* Adjust the value as needed */
    overflow: hidden;
}
