body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
}

p {
    /*line-height: 10px; /* Match height for vertical centering */
    height: 10px;
    margin-block-start: 10px;
    padding: 00px 0; /* Add vertical padding for better spacing */
    /*white-space: no-wrap; /* Prevent text from wrapping to the next line */
    overflow: visible; /* show overflowing text if the container is too small */
    text-overflow: ellipsis; /* Add "..." to indicate truncated text */
}

button {
    width: 100%; /* Ensure buttons take the full width of the sidebar */
    padding: 10px;
    margin-bottom: 10px; /* Space between buttons */
    display: block; /* Ensure buttons are displayed as block elements */
}

/***************************** main container *****************************/
/* Main Container shifted right to accommodate permanent-sidebar */
.container {
    display: flex;
    height: 100vh;
    width: calc(100% - 60px); /* Subtract permanent-sidebar width */
    margin-left: 60px; /* Offset by permanent-sidebar width */
    overflow: hidden; /* Prevent horizontal scroll */
}

